
  <style>



.card_btn{
  font-weight: 900;
    color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;

}

  .cards_item:nth-child(1) {
    /* width: 33.3333%; */
    width: 100%;
    background: linear-gradient(to bottom left, #fd6303 40%, #fd6303 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }

  .cards_item:nth-child(2) {
    /* width: 33.3333%; */
    width: 100%;
    background: linear-gradient(to bottom left, blue 40%, blue 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(3) {
    /* width: 33.3333%; */
    width: 100%;
    background: linear-gradient(to bottom left, brown 40%, brown 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(4) {
    /* width: 33.3333%; */
    width: 100%;
    background: linear-gradient(to bottom left, blue 40%, blue 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(5) {
    /* width: 33.3333%; */
    width: 100%;
    background: linear-gradient(to bottom left, brown 40%, brown 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(6) {
    /* width: 33.3333%; */
    width: 100%;
    background: linear-gradient(to bottom left, #fd6303 40%, #fd6303 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(7) {
    /* width: 33.3333%; */
    width: 100%;
    background: linear-gradient(to bottom left, brown 40%, brown 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(8) {
    /* width: 33.3333%; */
    width: 100%;
    background: linear-gradient(to bottom left, blue 40%, blue 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(9) {
    /* width: 33.3333%; */
    width: 100%;
    background: linear-gradient(to bottom left, green 40%, green 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }

@media (min-width: 40rem) {
   .cards_item:nth-child(1) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, #fd6303 40%, #fd6303 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }

  .cards_item:nth-child(2) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, blue 40%, blue 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(3) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, brown 40%, brown 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(4) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, blue 40%, blue 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(5) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, brown 40%, brown 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(6) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, #fd6303 40%, #fd6303 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(7) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, brown 40%, brown 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(8) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, blue 40%, blue 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(9) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, green 40%, green 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }

     .cards_item:nth-child(10) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, green 40%, green 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }

       .cards_item:nth-child(11) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, green 40%, green 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }

       .cards_item:nth-child(12) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, green 40%, green 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
}

@media (min-width: 56rem) {

  .cards_item:nth-child(1) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, #fd6303 40%, #fd6303 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }

  .cards_item:nth-child(2) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, blue 40%, blue 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(3) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, brown 40%, brown 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(4) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, blue 40%, blue 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(5) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, brown 40%, brown 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(6) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, #fd6303 40%, #fd6303 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(7) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, brown 40%, brown 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(8) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, blue 40%, blue 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
   .cards_item:nth-child(9) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, green 40%, green 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }

   .cards_item:nth-child(10) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, green 40%, green 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }

   .cards_item:nth-child(11) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, green 40%, green 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }

    .cards_item:nth-child(12) {
    /* width: 33.3333%; */
    width: 30%;
    background: linear-gradient(to bottom left, green 40%, green 100%);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 7px
  }
}

.card {

  /* font-weight: 900;
  border-radius: 0px !important;
  box-shadow: none !important;
  background-color: transparent !important; */

}

.card_content {
  padding: 1rem;
  /* background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%); */
}

.card_title {
 color: #ffffff;
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
    text-align: center;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
</style>





            <% if current_user.role_id == 1 %>
             <div class="content-wrapper">
  <div class="row">


              <div class="col-lg-12 d-flex grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="form-inline">
                            <form class="search-form" style="float:right;display: flex;margin-left: 60%">
                             <%= simple_form_for(@student) do |f| %>


                                  <%= f.input :first_name,:label => false ,placeholder: "Search Name ..." , input_html: {class: "form-control mr-sm-2"}%>
                                <button class="btn btn-danger btn-sm" type="submit"> Search</button>
                                <% end %>
                                   </form>
                        </div> <br>
                    <div class="d-flex flex-wrap justify-content-between">
                      <h4 class="card-title mb-3">All classes</h4>
                    </div>

                    <ul class="cards">
   <% @classes.each do |classs|%>
    <li class="cards_item">
      <div class="card_old">
        <div class="card_content">

          <h2 class="card_title"><%=classs.name%></h2>
          <%= link_to 'Click to select ', assess_path(:id => classs.id),class:"btn card_btn" %>

        </div>
      </div>
    </li>
<% end %>
  </ul>
    </div>
          </div>
            </div>
          </div>
             </div>

  <%else%>

  <div class="content-wrapper">
  <div class="row">

              <div class="col-lg-12 d-flex grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between">
                      <h4 class="card-title mb-3">Subjects</h4>
                    </div>

                    <div class="table-responsive">
                      <table class="table">
                       <thead>
                                    <tr>

                                        <th scope="col">Name</th>
                                        <th scope="col">Class</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>


                                    </tr>
                                </thead>
                        <tbody>
            <% @students.each do |subject| %>
      <tr scope="row">
        <td ><%= subject.name  %></td>
        <td ><%= subject.class_name  %></td>




        <td ><%#= student.a_class.name if student.a_class %></td>
        <td ><%= link_to 'Create Assessment',new_assessment_path(id:subject.id,class_id:subject.class_id),class: 'btn btn-success' %></td>
        <td ><%= link_to 'View Assessment',view_assesments_path(id:subject.id),class: 'btn btn-danger' %></td>
        <td ><%#= link_to 'Create Remark',new_remark_path(id:student.id, teacher_id:current_user.id),class: 'btn btn-primary' %></td>


        <td ><%#= link_to 'Check Grade',grades_path(id:student.id),class: 'btn btn-warning' %></td>









      </tr>
    <% end %>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <% end %>




