<style>
  .content{
  
    white-space: normal !important;
  }
  
  
  
  .overflow-wrap-hack{
    max-width:1px;
  }
</style>
<div class="row2">
  <div class="col-md-12 col-md-offset-0">
    <table class="custab table table-striped table-hover table-bordered">
   
<% if (defined?(@lessons)).nil? %>
<% else  %>


    <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">LESSON TOPIC</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @lessons[0].title %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">LEARNING
OBJECTIVES</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @lessons[0].objectives %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">CONTENT/
SUBJECT MATTER</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @lessons[0].procedures %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">REVIEW OF
PREVIOUS
KNOWLEDGE
(RPK)</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @lessons[0].review %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">LEARNING
ACTIVITIES
TLMs</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @lessons[0].activities %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">SKILLS &amp;
COMPETENCE
TO DEVELOP</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @lessons[0].skills %></td>
  </tr>

  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">DURATION OF LESSON</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000;word-break: break-all;white-space: normal !important;"><%=   @lessons[0].duration%></td>
  </tr>
  <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">WEEK DAY</td>
  <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=  @lessons[0].weekday %></td>
</tr>



<% end %>
</table>
</div>


<h4 style="text-align: center"> AFTER TEACHING DETAILS </h4>
<div class="row2">
  <div class="col-md-12 col-md-offset-0">
    <table class="custab table table-striped table-hover table-bordered">
   
<% if (defined?(@lessons)).nil? %>
<% else  %>



  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">ASSESSMENT GIVEN</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @lessons[0].assesments %></td>
  </tr>
  <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">REMARKS/
EVALUATION OF
LESSON</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000"><%=   @lessons[0].remarks %></td>
  </tr>

    <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">DURATION AFTER TEACHING</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000;word-break: break-all;white-space: normal !important;"><%=   @lessons[0].duration_after_teaching%></td>
  </tr>

   <tr>
    <td style="background-color:rgba(110, 129, 149, 0.96);color:#fbfbff">DATE LESSON WAS TAUGHT</td>
    <td style="background-color:rgba(251, 251, 255, 0.96);color:#000000;word-break: break-all;white-space: normal !important;"><%=   @lessons[0].time_lesson_ended.strftime("%B %d, %Y %H:%M") if @lessons[0].time_lesson_ended %></td>
  </tr>

  

<% end %>
</table>
</div>
</div>
