<%= form_with(model: collect_fee, local: true) do |form| %>
  <% if collect_fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collect_fee.errors.count, "error") %> prohibited this collect_fee from being saved:</h2>

      <ul>
      <% collect_fee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount_received %>
    <%= form.number_field :amount_received %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
