<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student_attendance.student_id %>
</p>

<p>
  <strong>Class:</strong>
  <%= @student_attendance.class_id %>
</p>

<p>
  <strong>Present status:</strong>
  <%= @student_attendance.present_status %>
</p>

<%= link_to 'Edit', edit_student_attendance_path(@student_attendance) %> |
<%= link_to 'Back', student_attendances_path %>
