<p id="notice"><%= notice %></p>



<p>
 <strong>Teacher remark:</strong>

  <%= @remark.teacher_conduct %>
</p>

<p>
  <strong>Student ID:</strong>

  <%= @remark.stud_id %>
</p>

<%= link_to 'Edit', edit_remark_path(@remark) %> |
<%= link_to 'Back', remarks_path %>
