

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr">
  <head>
     <title>WINKLES SCHOOL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <link rel="icon" href="/favicon.ico" type="image/ico" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/ico" />

    <link href="/assets/fedena/dashboard.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/fedena/ui.all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/fedena/dashboard2.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/fedena/modalbox.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/fedena/autosuggest-menu.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/fedena/view_all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/assets/fedena/red.css" media="screen" rel="stylesheet" type="text/css" />
     <link href="/assets/fedena/admission1.css" media="screen" rel="stylesheet" type="text/css" />
      <link href="/assets/fedena/application.css" media="screen" rel="stylesheet" type="text/css">


      <link href="/assets/fedena/popup.css" media="screen" rel="stylesheet" type="text/css">

     <link href="/assets/fedena/login.css" media="screen" rel="stylesheet" type="text/css" />
   <link href="/assets/fedena/login2.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="/assets/fedena-js/all.js" type="text/javascript"></script>

    <script src="/assets/fedena-js/nicetitle.js" type="text/javascript"></script>
<script src="/assets/fedena-js/droplicious.js" type="text/javascript"></script>

    <script src="/assets/fedena-js/fckeditor.js" type="text/javascript"></script>

    <script src="/assets/fedena-js/builder.js" type="text/javascript"></script>

    <script src="/assets/fedena-js/modalbox.js" type="text/javascript"></script>

    <script src="/assets/fedena-js/jquery.min.js" type="text/javascript"></script>

    <script src="/assets/fedena-js/jquery-ui.min.js" type="text/javascript"></script>

    <script src="/assets/fedena-js/jquery.hotkeys.js" type="text/javascript"></script>

  </head>

  <body>
    <div id="header_bg">
      <div id="header">
        <div id="outer-header-link">
          <div id="institution-name">
            WINKLES
          </div>
          <div id="header_link" >
            
            <div id="profile-link">
            <% if user_signed_in? %>
            <a href="/"
            <span class="name">Hi, <%= current_user.username %></span>  </a>
            <div id="logout-link">
             <%= link_to 'Edit Profile'.html_safe,edit_user_registration_path, :class=>" dropdown-item" %>

            <%= link_to 'Log out',destroy_user_session_path, :method=> 'delete',:class=>"dropdown-item" %>
            <% end %>
        
            </div>
          </div>
        </div>
        <div id="outer-main-menu">
          

<ul id="main-menu">
                   
                      
     <% if user_signed_in? %>
<% if current_user.role_id == 1 %>            
  <li class="a"><a href="/">Assessment</a></li>
  <li class="a"><a href="/roles">Roles</a></li>  
  
    <li class="a"><a href="/students">Students</a></li>
  
  
    <li class="a"><a href="/users">Users</a>
      
    </li>

     </li>
      <li class="a"><a href="/subject_masters">Subjects Setup</a>
    
    </li>
  
    <li class="a"><a href="/subjects">Subjects</a>
    
   

  
    <li class="a"><a href="/class_fields">Class <span class='down-arrow'></span></a>
     
    </li>

    <li class="a"><a href="/report_forms">Report Form <span class='down-arrow'></span></a>

   </li>
     <% else %>

<li class="a"><a href="/">Assessment</a></li>
  

<% end %>




<% end %>

      
    </ul>
  </li>
</ul>

<script type="text/javascript">
  function load_menu_from_plugins(){

  }
</script>

        </div>
        <div id="outer-autosuggest-menu">
          
<script type="text/javascript">
  jQuery.noConflict();
  function __highlight(s, t) {
    var matcher = new RegExp("("+jQuery.ui.autocomplete.escapeRegex(t)+")", "ig" );
    return s.replace(matcher, "<strong>$1</strong>");
  }

  jQuery.ui.autocomplete.prototype._renderItem = function (ul, item) {

    if (item.menutype == 'action')    {
      return jQuery("<li></li>")
      .data("item.autocomplete",item)
      .append("<a class='action'>"+ item.label +"</a>")
      .appendTo(ul);
    }
    item.label = __highlight(item.label, this.term)
    return jQuery("<li></li>")
    .data("item.autocomplete", item)
    .append("<a>" + item.label + "</a>")
    .appendTo(ul);
  };

  jQuery(document).bind('keypress', 'q', function(){jQuery("input#autosuggest_menu_input").focus();return false;});
  gotoLink = function(event,ui){
    window.location.href = ui.item.value;
    return false;
  };
  


  jQuery(document).ready(function() {
    jQuery("input#autosuggest_menu_input").autocomplete({
      source: searchoptions,
      select : gotoLink,
      focus: function(event, ui) { return false; }
    });
  });
</script>


<input id="autosuggest_menu_input" name="autosuggest_menu" placeholder="Search Actions, Events and People" type="text" value="" />


        </div>
      </div>
    </div>

    <div id="content_wrapper" >
      <div id="content"> 

  


<div id="news_bar">
  
</div>

<div id="user_options">
  <%= yield %>
  </div>


<div id="option_description"> </div>

<script type="text/javascript">
  $$('#user_options .button-box').each(function(ele, index){
    if(index%5 == 0){
      ele.addClassName("left-button");
    }
  });
</script> </div>

      <div class="extender"></div>
    </div>

    <div id="footer">
      <div id="footer_logo">
        <div id="powered_by">
          Powered by <a href=http://www.devdexsoftware.com target="_blank">Devdex Software</a>
        </div>
      </div>
    </div>
  </body>
</html>
